.header {
    border-color: black;
    border-style: ridge;
    border-width: 5px;
    text-align: center;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(metal_shine.jpg);
    background-size: cover;
    background-repeat: off;
    background-position: center;
}